.filters {
	position: relative;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	height: 70px;
	width: 100%;
}

.btn {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translate(-50%);
	opacity: 80%;
}
.btn {
	opacity: 90%;
}
